#start img {
    max-height: 300px;
}
.reveal em {
    font-size: 1.2em;
    line-height: 1.5em;
}
.reveal .invisible-fragment {
    display: none;
}
.reveal section img {
    border: 0;
}
.reveal .section-images img {
    max-height: 300px;
}
.reveal blockquote {
    width: 80%;
    padding: 20px;
}
.reveal blockquote footer {
    font-size: 0.8em;
}
.reveal i.fa {
    font-family: FontAwesome;
    font-style: normal;
}
.reveal .a-bit-smaller {
    font-size: 0.7em;
    line-height: 1em;
}
.reveal img.image-with-alfa {
    border: 0;
    box-shadow: none;
}
.reveal h1,
.reveal h2,
.reveal h3,
.reveal h4,
.reveal h5 {
    text-transform: none;
}
.reveal table.table-compare td,
.reveal table.table-compare th {
    padding: 10px;
    width: 50%;
}
.reveal table.table-compare td {
    /* border-top: 1px dotted grey; */
}
.reveal table.table-compare th {
    text-align: center;
}
.reveal div .footer-small {
    font-size: 0.5em;
}
